<title>heloo my name is Rudra</title>
<style>
    td{
        padding : 30px; 
       
        background-color: black;
        border: 2mm;
    }
    table{
        margin: 30px;
        background-color: red;
        width: 80%;
    }
</style>

<table class="table table-hover table-bordered">
    <tbody>
        
            <td><a href="/laptops"> laptops</a></td>
            
        

        
            <td><a href="/mobile"> Mobile</a></td>
            
        

        
            <td><a href=""> Sign in</a></td>
           
        


    </tbody>
</table>
