<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><a href="/mobile"></a></p>
    <h1>MOBILE</h1>
    <h2>Iphone 12</h2>
    <img src="../hea and foot/views/phoneImage/iphone12design.jpg" alt="Iphone12">
    <p>Fully unlocked and compatible with any carrier of choice (e.g. AT&T, T-Mobile, Sprint, Verizon, US-Cellular, Cricket, Metro, etc.).
        The device does not come with headphones or a SIM card. It does include a charger and charging cable that may be generic.
        Inspected and guaranteed to have minimal cosmetic damage, which is not noticeable when the device is held at arm’s length.
        Successfully passed a full diagnostic test which ensures like-new functionality and removal of any prior-user personal information.
        Tested for battery health and guaranteed to have a minimum battery capacity of 80%.</p>

        <h3>Iphone 13</h3>
        <p>Super Retina XDR display
            5.4‑inch (diagonal) all‑screen OLED display
            2340‑by‑1080-pixel resolution at 476 ppi
            The iPhone 13 mini display has rounded corners that follow a beautiful curved design, and these corners are within a standard rectangle. When measured as a standard rectangular shape, the screen size is 137 mm (5.42 inches) diagonally (actual viewable area is less).</p>

            <h3>Iphone 14</h3>
            <p>HDR display
                True Tone
                Wide colour (P3)
                Haptic Touch
                2,000,000:1 contrast ratio (typical)
                800 nits max brightness (typical); 1200 nits peak brightness (HDR)
                Fingerprint-resistant oleophobic coating
                Support for display of multiple languages and characters simultaneously</p>
</body>
</html>